<div style="margin: 32px; margin-top: 4px;">
  <div id="view_note">
    <div style="background: white;"><%=raw(@content)%></div>
    <div style="text-align: center">
      <button name="edit_button" id="edit_button" onclick="$('#view_note').hide();$('#edit_note').show();" type="button">EDIT NOTE</button>&nbsp;
      <button name="duplicate_button" id="duplicate_button" type="button">DUPLICATE NOTE</button>
    </div>
  </div>
  <div id="edit_note" style="display: none;">
    <h4>Edit Note</h4>
    <%= raw("<textarea id='note_content'>" + @content + "</textarea>") %>
    <div style="text-align: center">
      <button name="update_button" id="update_button" type="button">UPDATE NOTE</button>
    </div>
  </div>
</div>
<%= render partial: "tinymce_ext_scripts" %>
<%= render partial: "tinymce_yt_async_plugin" %>
<%= render partial: "tinymce_que_plugin" %>
<%= render partial: "mathjax" %>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.533.0.min.js"></script>
<script>
let cssLink = document.getElementById('note_content').value.split('rel="stylesheet" type="text/css"/>')[0];
let css = cssLink.includes("<link href=") ? cssLink + 'rel="stylesheet" type="text/css"/>' : "";

tinymce.init({
  selector: '#note_content',
  height: 600,
  plugins: "link image code paste media textcolor colorpicker template questionIframe youtubeIframeAsync",
  external_plugins: { tiny_mce_wiris: 'https://www.neetprep.com/@wiris/mathtype-tinymce4/plugin.min.js' },
  language: 'en',
  toolbar: 'code,|,bold,italic,underline,|,cut,copy,paste,|,search,|,template,|,undo,redo,|,forecolor,backcolor,|,justifyleft,justifycenter,justifyright,fontselect,fontsizeselect,|,tiny_mce_wiris_formulaEditor,tiny_mce_wiris_formulaEditorChemistry,|,fullscreen,media,|,questionIframe,|,youtubeIframeAsync',
  paste_data_images: true,
  extended_valid_elements : 'a[id|class|style|width|height|onclick|href],div[id|class|style|width|height|onclick|data-url],script[src|async|defer|type|charset]',
  images_upload_url: 'https://www.neetprep.com/api/v1/fileUpload/fileUpload',
  editorObject: {'id': 'note_content'},
  templates: [
    {title: 'NCERT Exercise Answer', description: 'NCERT Exercise Answer', content: '<div class="ncert-exercise-answer" style="background-color: lightyellow;"><strong>NEETprep Answer:</strong><br/><button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse">Show/Hide Answer</button><div class="collapse multi-collapse"></div></div>'},
    {title: 'NCERT Audio Note (paragraph)', description: 'NCERT Audio Note', content: '<div style="background-color: lightyellow;"><strong>NEETprep Audio Note:</strong><br /><br /></div>'},
    {title: 'NCERT Audio Note (inline)', description: 'NCERT Audio Note', content: '<span style="background-color: lightyellow;"><strong>NEETprep Audio Note:</strong><span style="height: 18px; vertical-align: middle;">&nbsp;&nbsp;&nbsp;&nbsp;</span></span>'}
  ],
  video_template_callback: (data) => {
    return '<audio controls>' + '\n<source src="' + data.source1 + '"' + (data.source1mime ? ' type="' + data.source1mime + '"' : '') + ' />\n' + '</audio>';
  },
  file_picker_callback: function(cb, value, meta) {
    if (meta.filetype != "media") {
      return;
    }
    var input = document.createElement('input');
    input.setAttribute('type', 'file');
    input.setAttribute('accept', '*/*');

    input.onchange = function() {
      const data = new FormData();
      data.append('file', this.files[0]);
      data.append('filename', this.files[0].name);

      fetch('https://www.neetprep.com/api/v1/fileUpload/fileUpload', {
        method: 'POST',
        body: data,
      }).then((response) => {
        response.json().then((body) => {
          cb(body.location);
        });
      });
    };
    input.click();
  },
  file_picker_type: 'media',
  setup: function (editor) {
    editor.on('blur', function (e) {
      document.getElementById('note_content').value = css + editor.getContent();
    });
    editor.settings.images_dataimg_filter = function () {return undefined;};
  }
});

$('#duplicate_button').on('click', function(e){
  var noteId = "<%= @note.id %>";
  let url = window.location.origin + "/notes/duplicate_content.json";
  $.ajax({
    type: "POST",
    url: url,
    data: {
      "noteId": noteId
    }
  }).done (function (data) {
    window.open('/notes/edit_content/' + data.newNoteId, '_blank')
  }).fail (function (error) {
    alert("failed: " + JSON.stringify(error));
  });
});

$('#update_button').on('click', function(e){
  let content = document.getElementById('note_content').value;
  if (!content)
    return;

  var noteId = "<%= @note.id %>";
  var lock_version = "<%=@lock_version%>";
  let url = window.location.origin + "/notes/update_content.json";
  $.ajax({
    type: "POST",
    url: url,
    data: {
      "noteId": noteId,
      "content": content,
      "lock_version": lock_version
    }
  }).done (function (data) {
    window.location.reload();
  }).fail (function (error) {
    alert("failed: " + JSON.stringify(error));
  });
});
</script>
