<div style="margin: 32px">
  <h3 style="margin-top: -2px"><%= ( @paidUser.to_s === 'true' ? 'Paid' : 'Free' ) + raw(" Users : " + @users.length.to_s) %></h3>
</div>

<div style="margin: 32px">
 
  <table>
    <tr>
        <th>S. No</th>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Alternate Email</th>
        <th>Alternate Phone</th>
        <th>Total Video</th>
        <th>Course Name</th>
    </tr>
      <% @users.each.with_index do |user , index| %>
        <tr>
            <td> <%= index.to_i + 1 %></td>
            <td> <%= user["uUserId"] != nil ? user["uUserId"] : "-" %></td>
            <td> <%= user["displayName"] != nil ? user["displayName"] : "-" %></td>
            <td> <%= user["email"] != nil ? user["email"] : "-" %></td>
            <td> <%= user["phone"] != nil ? user["phone"] : "-" %></td>
            <td> <%= user["uemail"] != nil ? user["uemail"] : "-" %></td>
            <td> <%= user["uphone"] != nil ? user["uphone"] : "-" %></td>
            <td> <%= user["totalVideos"] != nil ? user["totalVideos"] : "-" %></td>
            <td> <%= user["courseId"] != nil ? user["courseId"] : "-" %></td>
        </tr>
      <% end %>
  </table>
</div>
