<head>
  <style>
    table, th, td {
      border: 1px solid black;
    }
    tbody tr th {
      font-size: 20px;
    }
  </style>
</head>
<h2><%= @course.name %></h2>
<div>
  <button onclick="sortTable(1, 'sortST')">Sort By SubTopic Count</button>
  <button onclick="sortTable(2, 'sortQ')">Sort By Question Count</button>
  <button onclick="sortTable(3, 'sortV')">Sort By Video Count</button>
</div>
<table style="width:50%; margin-left: 16px; margin-top: 30px">
  <tr>
    <th>Entity</th>
    <th>Count</th>
  </tr>
  <tr style="text-align: center;">
    <td>Subjects</td>
    <td><%= link_to  @course.subjects.count, admin_subjects_path(q: {courseId_eq: @course_id}) %></td>
  </tr>
  <tr style="text-align: center;">
    <td>Topics</td>
    <td><%= link_to @course_topics.count, admin_topics_path(q: {subjectId_in: @course.subjects.pluck("id")}) %></td>
  </tr>
  <tr style="text-align: center;">
    <td>Sub Topics</td>
    <td><%= link_to @course_subTopics_count, admin_sub_topics_path(q: {topicId_in: @course_topics.pluck("id")}) %></td>
  </tr>
  <tr style="text-align: center;">
    <td>Tests</td>
    <td><%= link_to @course.tests.count, admin_tests_path(q: {courses_id_eq: @course_id}) %></td>
  </tr>
  <% @course_subjects.each do |subject| %>
    <tr style="text-align: center;">
      <td><%= subject.name + " Videos" %></td>
      <td><%= link_to Video.joins(:topics).where('"Topic"."id" in (?)', @subject_topics[subject.id]).count.to_s, admin_videos_path(q: {videoTopics_chapterId_in: @subject_topics[subject.id]}) %></td>
    </tr>
  <% end %>

  <% @course_subjects.each do |subject| %>
    <tr style="text-align: center;">
      <td><%= subject.name + " Questions" %></td>
      <td><%= link_to Question.joins(:topics).where('"Topic"."id" in (?)', @subject_topics[subject.id]).count.to_s, admin_questions_path(q: {topics_id_in: @subject_topics[subject.id]}) %></td>
    </tr>
  <% end %>

  <tr>
    <table style="margin-left: 16px; width:50%; margin-top: 30px">
      <tr class="header" style="text-align: center;">
        <th>Subject Name</th>
        <th>Topic Count</th>
      </tr>
      <% @course_subjects.each do |subject| %>
        <tr style="text-align: center;">
          <td><%= subject.name %></td>
          <td><%= link_to subject.topics.count, admin_topics_path(q: {subjectId_eq: subject.id}) %></td>
        </tr>
      <% end %>
    </table>
  </tr>

  <tr>
    <table id="chaper_table" style="margin-left: 16px; width:50%; margin-top: 30px">
      <tr class="header" style="text-align: center;">
        <th>Topic Name</th>
        <th>SubTopic Count</th>
        <th>Question Count</th>
        <th>Video Count</th>
        <th>English Videos Count (duration)</th>
        <th>Hinglish Videos Count (duration)</th>
      </tr>
      <% @course_topics.each do |topic| %>
        <tr style="text-align: center;">
          <td><%= topic.name + " (" + topic.subject.name + ")" %></td>
          <td><%= link_to @course_topics_subTopics[topic.id], admin_sub_topics_path(q: {topicId_eq: topic.id}) %></td>
          <!-- link_to @course_topics_subTopics[topic.id], admin_sub_topics_path(q: {topicId_eq: topic.id}) -->
          <td><%= link_to @course_topics_questions[topic.id], admin_questions_path(q: {topics_id_eq: topic.id}) %></td>
          <!-- link_to @course_topics_questions[topic.id], admin_questions_path(q: {topics_id_eq: topic.id}) -->
          <td><%= link_to @course_topics_videos[topic.id], admin_videos_path(q: {topics_id_eq: topic.id}) %></td>
          <td><%= link_to @course_topics_english_videos[topic.id], admin_videos_path(q: {topics_id_eq: topic.id, language_equals: 'english'}) %></td>
          <td><%= link_to @course_topics_hinglish_videos[topic.id], admin_videos_path(q: {topics_id_eq: topic.id, language_equals: 'hinglish'}) %></td>
        </tr>
      <% end %>
    </table>
  </tr>
</table>

<script>
  //$('.header').nextUntil('tr.header').slideToggle(1000);
  $('.header').click(function(){
    $(this).find('span').text(function(_, value){return value=='-'?'+':'-'});
      $(this).nextUntil('tr.header').slideToggle(100, function(){
      });
   });

   var ascendingOrder = false;
   var currentOperation;

   function sortTable(col, task) {
    if (currentOperation == task) {
      ascendingOrder = !ascendingOrder
    } else {
      currentOperation = task;
      ascendingOrder = true;
    }
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("chaper_table");
    rows = table.rows;
    for (i = 1; i < rows.length; i++) {
      var min = i;
      for (j = i + 1; j < rows.length; j++) {
        var minValue = rows[min].getElementsByTagName("TD")[col].getElementsByTagName("A")[0];
        var toCheck = rows[j].getElementsByTagName("TD")[col].getElementsByTagName("A")[0];
        if (ascendingOrder) {
          if (Number(toCheck.innerHTML) < Number(minValue.innerHTML)) {
            min = j;
          }
        } else {
          if (Number(toCheck.innerHTML) > Number(minValue.innerHTML)) {
            min = j;
          }
        }
      }
      var temp = rows[min].getElementsByTagName("TD")[3].getElementsByTagName("A")[0];
      rows[i].parentNode.insertBefore(rows[min], rows[i]);
    }
  }
</script>
