<h2><%= @course.name %></h2>
<table style="width:100%">
  <tr>
    <th>Entity</th>
    <th>Count</th> 
  </tr>
  <tr>
    <td>Subjects</td>
    <td><%= link_to  @course.subjects.count, admin_subjects_path(q: {courseId_eq: @course_id}) %></td>
  </tr>
  <tr>
    <td>Topics</td>
    <td><%= link_to @course_topics.count, admin_topics_path(q: {subjectId_in: @course.subjects.pluck("id")}) %></td>
  </tr>
  <tr>
    <td>Sub Topics</td>
    <td><%= link_to @course_subTopics_count, admin_sub_topics_path(q: {topicId_in: @course_topics.pluck("id")}) %></td>
  </tr>
  <tr>
    <td>Tests</td>
    <td><%= link_to @course.tests.count, admin_tests_path(q: {courses_id_ed: @course_id}) %></td>
  </tr>

  <tr>
    <table style="margin-left: 16px; width:50%; border: grey solid 1px">
      <tr class="header">
        <th>Subject Name</th>
        <th>Topic Count</th> 
      </tr>
      <% @course_subjects.each do |subject| %>
        <tr>
          <td><%= subject.name %></td>
          <td><%= link_to subject.topics.count, admin_topics_path(q: {subjectId_eq: subject.id}) %></td>
        </tr>
      <% end %>
    </table>
  </tr>

  <tr>
    <table style="margin-left: 16px; width:50%; border: grey solid 1px">
      <tr class="header">
        <th>Topic Name</th>
        <th>SubTopic Count</th>
        <th>Question Count</th> 
        <th>Video Count</th>  
      </tr>
      <% @course_topics.each do |topic| %>
        <tr>
          <td><%= topic.name %></td>
          <td><%= link_to @course_topics_subTopics[topic.id], admin_sub_topics_path(q: {topicId_eq: topic.id}) %></td>
          <td><%= link_to @course_topics_questions[topic.id], admin_questions_path(q: {topics_id_eq: topic.id}) %></td>
          <td><%= link_to @course_topics_videos[topic.id], admin_videos_path(q: {topics_id_eq: topic.id}) %></td>
        </tr>
      <% end %>
    </table>
  </tr>

  <tr>
    <table style="margin-left: 16px; width:50%; border: grey solid 1px">

    </table>
  </tr>
</table>



<script>
    $('.header').nextUntil('tr.header').slideToggle(1000);
    $('.header').click(function(){
      $(this).find('span').text(function(_, value){return value=='-'?'+':'-'});
       $(this).nextUntil('tr.header').slideToggle(100, function(){
       });
   });
</script>