<style>
  .keywords-list {
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
  }

  .close {
    font-size: 60px;
    font-weight: bold;
    color: #000;
  }

  .tag {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    border-radius: 10px;
  }

  .teal{
    color: #fff!important;
    background-color: #009688!important
  }

  .green{
    color: #fff !important;
    background-color: #1b5e20 !important
  }

  .close-button {
    cursor: pointer;
  }
</style>

<div class="essential-keywords">
  <p> Important keywords from <a target="_blank" href="<%= admin_question_path(question.id) %>">
    <span class="tag green"> Question #<%= question.id %> </span></a></p>
  <div class="keywords-list">
    <% question.essential_keywords.each do |word|%>
      <% unless exclude_keywords.include? word%>
        <p id="tag-<%= word %>">
          <span class="tag teal"><%= word %><span class="close-btn" onclick="removeFilter('<%= word %>')">&times;</span></span>
        </p>
      <% end %>
    <% end %>
    <p> <a href="#" onclick="resetTags()"> <span class="tag green">Reset Tags</span></a> </p>
  </div>
</div>

<script>

  const questionId = <%= question.id %>;

  function resetTags() {
    const currentLocation = new URLSearchParams(window.location.href);
    currentLocation.delete('q[exclude]');
    const queryParams = decodeURIComponent(currentLocation.toString()).split('?')[1];
    window.location = `/admin/video_sentences?${queryParams}`;
  }

  function removeFilter(word) {
    const currentLocation = new URLSearchParams(window.location.href);
    const prevExclude = currentLocation.get('q[exclude]');
    const exclude = prevExclude === null ? word : `${prevExclude},${word}`;
    currentLocation.set('q[exclude]', exclude);

    window.location = decodeURIComponent(currentLocation.toString());
  }
</script>