<p id="notice"><%= notice %></p>

<h3>Doubts Pending</h3>

<table style="width:50%">
  <tr>
    <th>Subject</th>
    <th>2 days</th>
    <th>5 days</th>
    <th>7 days</th>
  </tr>

  <tr>
    <th>Physics</th>
    <th><%= @doubts_physics_two_days.count %></th>
    <th><%= @doubts_physics_five_days.count %></th>
    <th><%= @doubts_physics_seven_days.count %></th>    
  </tr>

  <tr>
    <th>Chemistry</th>
    <th><%= @doubts_chemistry_two_days.count %></th>
    <th><%= @doubts_chemistry_five_days.count %></th>
    <th><%= @doubts_chemistry_seven_days.count %></th>    
  </tr>

  <tr>
    <th>Botany</th>
    <th><%= @doubts_botany_two_days.count %></th>
    <th><%= @doubts_botany_five_days.count %></th>
    <th><%= @doubts_botany_seven_days.count %></th>    
  </tr>

  <tr>
    <th>Zoology</th>
    <th><%= @doubts_zoology_two_days.count %></th>
    <th><%= @doubts_zoology_five_days.count %></th>
    <th><%= @doubts_zoology_seven_days.count %></th>    
  </tr>
</table>