<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML'></script>
<script>
  window.onload = function() {
    MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
    if ("<%= @doubt_tag %>" == "video") {
      console.log("Has video");
      var player = videojs('my_video_1');
      player.src({
        withCredentials: true
      }); 
    }
  };
</script>
<div style="padding: 8px">
  <div style="margin: 16px; padding: 8px; border: 1px solid #828282">
    <h4 style="margin-top: -4px">Doubt by <%= link_to @doubt_user.name, admin_user_path(@doubt_user), target: :_blank %>, <%= link_to "Past Doubts", "/admin/doubts?q[userId_eq]=" + @doubt_user.id.to_s, target: :_blank %> </h4>
    <div style="margin-left: 20px; margin-top: -10px">
      <h2><%= raw(@doubt.content) %></h2>
      <h5 style="margin-top: -10px"><%= Time.parse(@doubt.createdAt.to_s).to_date.to_formatted_s(:long) %></h5>
      <h5 style="margin-top: -10px"><%= @doubt.topic.name + ' / ' + @doubt.topic.subject.name %></h5>
      <div style="margin-top: -10px"><%= raw(@doubt_data) %></div>
    </div>
  </div>

  <div style="margin: 32px">
    <h4>Doubt Answers:</h4>
    <% @doubt_answers_data.each do |key, value| %>
      <div style="margin-top: 4px; margin-left: 36px; padding: 8px; border: 1px solid #828282">
        <h3 style="margin-top: -2px"><b><%= value[0] %></b></h3>
        <h5 style="margin-top: -10px"><%= value[2].to_date.to_formatted_s(:long) %></h5>
        <h4 style="margin-top: -10px"><%= raw(value[1]) %></h4>
        <div style="margin-top: -10px"><%= image_tag(value[3], size: "640x360") if not value[3].blank? %></div>
      </div>
    <% end %>
  </div>
  <div style="margin: 32px; margin-top: 4px;">
    <h4>Add your Answer:</h4>
    <%= text_area(:doubtAnswer, :content, cols: 20, rows: 10) %>
  </div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.8.2/tinymce.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.8.2/plugins/code/plugin.min.js'></script>
<script>
tinymce.init({
  selector: '#doubtAnswer_content',
  plugins: "link image code paste media",
  // TODO: to be added only if secure loading of plugin.js below is not working
  // content_security_policy: "default-src 'self' *.wiris.net *.amazonaws.com *.cloudflare.com; style-src 'self' 'unsafe-inline' *.cloudflare.com; img-src * data:;",
  external_plugins: { tiny_mce_wiris: 'https://www.neetprep.com/@wiris/mathtype-tinymce4/plugin.min.js' },
  // TODO: not sure why was this required but language going undefined in wiris editor somehow and gets fixed now
  language: 'en',
  toolbar: 'code,|,bold,italic,underline,|,cut,copy,paste,|,search,|,undo,redo,|,forecolor,backcolor,|,justifyleft,justifycenter,justifyright,fontselect,fontsizeselect,|,tiny_mce_wiris_formulaEditor,tiny_mce_wiris_formulaEditorChemistry,|,fullscreen,media',
  paste_data_images: true,
  images_upload_url: 'https://www.neetprep.com/api/v1/fileUpload/fileUpload',
  // TODO: seems wiris plugin is changing this to not have its images affected but ends up causing issue to our image upload..so adding this..anything better? this is especially added for data image which exist and images_dataimg_filter was anyway getting called for that
  editorObject: {'id': 'doubtAnswer_content'},
  setup: function (editor) {
    editor.on('blur', function (e) {
      document.getElementById('doubtAnswer_content').value = editor.getContent();
    });
    // TODO: seems wiris plugin is changing this to not have its images affected but ends up causing issue to our image upload..so adding this..anything better?
    editor.settings.images_dataimg_filter = function () {return undefined;};
  }
});
</script>

<div style="text-align: center">
  <button name="post_button" id="post_button" type="button" onclick="putAnswer()">Post Answer</button>
</div>

<script>
function putAnswer() {
  var content = document.getElementById("doubtAnswer_content").value
  if (!content)
    return;

  var doubtId = "<%= @doubt_id %>";
  var data = new FormData();
  var http = new XMLHttpRequest();
  data.append("doubtId", doubtId);
  data.append("content", content);
  data.append("userId", "<%= @userId %>");
  var url = '/doubt_answers/post_answer';
  document.getElementById("post_button").innerHTML = "Posting";
  document.getElementById("post_button").disabled = true;

  http.onreadystatechange = function() {
    if (http.readyState == XMLHttpRequest.DONE) {
      document.getElementById("post_button").innerHTML = "Done Redirecting";
      window.location.href = "/doubt_answers/answer?doubt_id=" + doubtId
    }
  }
  http.open("POST", url);
  http.send(data);
}
</script>
