<p id="notice"><%= notice %></p>

<h2>Customer Support Pending</h2>

<table style="width:50%">
  <tr>
    <th>Issue Type</th>
    <th>2 days</th>
    <th>5 days</th>
    <th>7 days</th>
  </tr>

  <tr>
    <th>Pendrive Not working</th>
    <th><%= link_to @pendrive_two_days.count, "../../admin/customer_supports?scope=pendrive_two_days&q[createdAt_gt]=" + 2.days.ago.to_s %></th>
    <th><%= link_to @pendrive_five_days.count, "../../admin/customer_supports?scope=pendrive_five_days&q[createdAt_gt]=" + 5.days.ago.to_s %></th>
    <th><%= link_to @pendrive_seven_days.count, "../../admin/customer_supports?scope=pendrive_seven_days&q[createdAt_gt]=" + 7.days.ago.to_s %></th>
  </tr>

  <tr>
    <th>Website Not working</th>
    <th><%= link_to @website_two_days.count, "../../admin/customer_supports?scope=website_two_days&q[createdAt_gt]=" + 2.days.ago.to_s %></th>
    <th><%= link_to @website_five_days.count, "../../admin/customer_supports?scope=website_five_days&q[createdAt_gt]=" + 5.days.ago.to_s %></th>
    <th><%= link_to @website_seven_days.count, "../../admin/customer_supports?scope=website_seven_days&q[createdAt_gt]=" + 7.days.ago.to_s %></th>
  </tr>

  <tr>
    <th>Course Not working</th>
    <th><%= link_to @course_two_days.count, "../../admin/customer_supports?scope=course_two_days&q[createdAt_gt]=" + 2.days.ago.to_s %></th>
    <th><%= link_to @course_five_days.count, "../../admin/customer_supports?scope=course_five_days&q[createdAt_gt]=" + 5.days.ago.to_s  %></th>
    <th><%= link_to @course_seven_days.count, "../../admin/customer_supports?scope=course_seven_days&q[createdAt_gt]=" + 7.days.ago.to_s %></th>
  </tr>

  <tr>
    <th>Test Not Working</th>
    <th><%= link_to @test_two_days.count, "../../admin/customer_supports?scope=test_two_days&q[createdAt_gt]=" + 2.days.ago.to_s %></th>
    <th><%= link_to @test_five_days.count, "../../admin/customer_supports?scope=test_five_days&q[createdAt_gt]=" + 5.days.ago.to_s  %></th>
    <th><%= link_to @test_seven_days.count, "../../admin/customer_supports?scope=test_seven_days&q[createdAt_gt]=" + 7.days.ago.to_s %></th>
  </tr>

  <tr>
    <th>Video Not Working</th>
    <th><%= link_to @video_two_days.count, "../../admin/customer_supports?scope=video_two_days&q[createdAt_gt]=" + 2.days.ago.to_s %></th>
    <th><%= link_to @video_five_days.count, "../../admin/customer_supports?scope=video_five_days&q[createdAt_gt]=" + 5.days.ago.to_s  %></th>
    <th><%= link_to @video_seven_days.count, "../../admin/customer_supports?scope=video_seven_days&q[createdAt_gt]=" + 7.days.ago.to_s %></th>
  </tr>

  <tr>
    <th>App Not Working</th>
    <th><%= link_to @app_two_days.count, "../../admin/customer_supports?scope=app_two_days&q[createdAt_gt]=" + 2.days.ago.to_s %></th>
    <th><%= link_to @app_five_days.count, "../../admin/customer_supports?scope=app_five_days&q[createdAt_gt]=" + 5.days.ago.to_s  %></th>
    <th><%= link_to @app_seven_days.count, "../../admin/customer_supports?scope=app_seven_days&q[createdAt_gt]=" + 7.days.ago.to_s %></th>
  </tr>

  <tr>
    <th>Other</th>
    <th><%= link_to @other_two_days.count, "../../admin/customer_supports?scope=other_two_days&q[createdAt_gt]=" + 2.days.ago.to_s %></th>
    <th><%= link_to @other_seven_days.count, "../../admin/customer_supports?scope=other_seven_days&q[createdAt_gt]=" + 5.days.ago.to_s  %></th>
    <th><%= link_to @other_seven_days.count, "../../admin/customer_supports?scope=other_seven_days&q[createdAt_gt]=" + 7.days.ago.to_s %></th>
  </tr>
</table>
