<head>
  <style>
    .select2-container {
      min-width: 300px !important;
    }
    .maroon {
      color: #85144b;
    }
    .bg-maroon > a {
      color: white;
    }
    .bg-blue {
      background-color: #0074d9 !important;
      color: white;
    }
    .bg-maroon {
      background-color: #85144b !important;
      color: #ffdc00;
    }
    .sections li {
      width: 100%;
      margin-bottom: 5px;
      background-color: #ffdc00;
      padding: 5px;
    }
    .border {
      border: 1px solid #85144b;
    }
    .mb {
      margin-bottom: 25px;
    }
    .items-content{
      min-height: 20px;
      overflow: auto;
    }
    .items-list{
      height: 400px;
      overflow: auto;
      flex: 1;
      margin-left: 20px;
    }
  </style>
</head>
<body>
  <div style="margin: 32px">
    <%= raw("<h3 class='maroon'>" + @chapter.name + "</h3>") %>
  </div>
  <div style="margin: 32px">
    <label>Chapters :</label>
    <select name="chapter" id="chapterList" onchange="onChapterChange()">
      <option value=''>Select Chapter</option>
      <% @chapters_data.each do |key, value| %>
        <%= raw("<option value='" + key.to_s + "'>" + value[0].to_s + "</option>") %>
      <% end %>
    </select>
  </div>
  <div style="margin: 32px; display: inline-flex; width: 95%" class="sections">
    <div class="items-list">
      <p>Sections :</p>
      <ul>
        <% @sections_data.each do |key, value| %>
          <%= raw("<li style='padding: 18px;'><h3 class='maroon'>" + "<a target='_blank' href='" + admin_section_path(key) + "'>" + value[2].to_s + ". " +  value[0].to_s + "</a>"+ "</h3>")%>
              <%= raw("<ul class='items-content sortable border mb js-sortable-copy-target sortable list list-reset' data-url = '/chapters/update_and_sort' data-section='" + key.to_s + "'>") %>
                  <% value[1].each_with_index do |val, index| %>
                    <% if val["contentType"] == 'video' %>
                      <%= raw("<li class='bg-" + (val['contentType'] == 'video' ? 'blue' : 'maroon') + "' data-title='" + val["title"].to_s + "' data-section='" + key.to_s + "' data-type='saved' data-id='" + val["id"].to_s  + "'>" + "<a target='_blank' style='color: white;' href='" + "https://www.neetprep.com/video-class/" + val["contentId"].to_s + "-admin" + "'>" + val["title"] + "</a>" + " <button data-content='" + val["id"].to_s + "' class='removeBtn' style='float: right;'>Remove</button>" + "</li>")%>
                    <% elsif val["contentType"] == 'note' %>
                      <%= raw("<li class='bg-" + (val['contentType'] == 'video' ? 'blue' : 'maroon') + "' data-title='" + val["title"].to_s + "' data-section='" + key.to_s + "' data-type='saved' data-id='" + val["id"].to_s  + "'>" + "<a target='_blank' href='" + "/notes/edit_content/" + val["contentId"].to_s + "'>" + val["title"].to_s.gsub(/.*\/OEBPS\/Text\//, "") + "</a>" + " <button data-content='" + val["id"].to_s + "' class='removeBtn' style='float: right;'>Remove</button>" + "</li>")%>
                    <% end %>
                  <% end %>
                  <%= raw("</ul></li>")%>
        <% end %>
      </ul>
    </div>
    <%= raw("<div class='items-list'><p>NCERT List:</p><ul class='mb list-reset js-sortable-copy'>") %>
        <% @not_linked_chapter_notes.each_with_index do |val, index| %>
          <%= raw("<li class='bg-maroon' data-title='" + val[1].to_s + "' data-type='note' data-id='" + val[0].to_s  + "'>" + "<a target='_blank' href='" +  "/notes/edit_content/"  + val[0].to_s + "'>" + val[1].to_s.gsub(/.*\/OEBPS\/Text\//, "") + "</a>" + "</li>")%>
        <% end %>
        <%= raw("</ul></div>")%>
    <%= raw("<div class='items-list'><p>Video List:</p><ul class='mb list-reset js-sortable-copy'>") %>
        <% @not_linked_chapter_videos.each_with_index do |val, index| %>
          <%= raw("<li class='bg-blue' data-title='" + val[1].to_s + "' data-type='video' data-id='" + val[0].to_s  + "'>" + "<a target='_blank' style='color: white;' href='" + "https://www.neetprep.com/video-class/" + val[0].to_s + "-admin" + "'>" + val[1].to_s + "</a>" + "</li>")%>
        <% end %>
        <%= raw("</ul></div>")%>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.full.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5sortable/0.9.17/html5sortable.min.js"></script>
  <script type="text/javascript">

    $(function () {
      $("select").select2();
    });

    function onChapterChange() {
      let url = window.location.origin + "/chapters/section_content";
      let chapterId = $('#chapterList').val();
      if (chapterId != null && chapterId != ''){
        window.location.href = url + "?chapterId=" + chapterId;
      }
    }

    $(document).on('turbolinks:load', function() {
      $('.removeBtn').on('click', function(e){
        let sectionContentId = $(this).data("content");
        if (sectionContentId == null){
          alert('Content not selected');
          return
        }
        let url = window.location.origin + "/chapters/remove_section_content";
        $.ajax({
          type: "POST",
          url: url,
          data: {
            "sectionContentId": sectionContentId
          }
        }).done (function (data) {
          window.location.reload();
        });
      });
      sortable('.js-sortable-copy', {
  		  forcePlaceholderSize: true,
  			acceptFrom: false,
  		  placeholderClass: 'mb1 bg-navy border border-yellow',
		  });
  		sortable('.js-sortable-copy-target', {
    		forcePlaceholderSize: true,
    		acceptFrom: '.js-sortable-copy,.js-sortable-copy-target',
    		placeholderClass: 'mb1 border border-maroon',
  	  });

      sortable('.sortable', {
        items: 'li'
      });
      if (typeof sortable('.sortable')[0] != 'undefined'){
        $('.sortable').on('sortupdate', function(e) {
          let dataIDList = [];
          let dataTypeList = [];
          let dataSectionList = [];
          let dataTitleList = [];
          let sectionId = $(this).data("section");
          $(this).children().map(function(index){
             dataTitleList.push($(this).data("title"));
          });
          $(this).children().map(function(index){
             dataSectionList.push(sectionId);
          });
          $(this).children().map(function(index){
             dataIDList.push($(this).data("id"));
          });
          $(this).children().map(function(index){
             dataTypeList.push($(this).data("type"));
          });
          $.ajax({
            type: "POST",
            url: $(this).data("url"),
            data: {
              "ids": dataIDList,
              "types": dataTypeList,
              "sections": dataSectionList,
              "titles": dataTitleList
            }
          }).done (function (data) {
            console.log('done')
          });
        });
      }
    })

  </script>
</body>
